/*
 * Common CSS style
 */
.box	{width: 100%; height: auto; border: 1px solid black; float: left; overflow-x: scroll}
h1		{text-align: center}
h2		{text-align: center}
#qt		{margin-right:10px;}
.main	{margin-bottom: 10px}
